@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  float: left;
}

.home {
  background: url('/assets/home/background-home-desktop.jpg')no-repeat center center;
  background-size: cover;
}

.destinations {
  background: url('/assets/destination/background-destination-desktop.jpg')no-repeat center center;
  background-size: cover;
}

p {
  font-family: 'Barlow', sans-serif;
}

h1, h2, h3, h4, .subHeading1 {
  font-family: 'Bellefair', serif;
}

h5 {
  font-family: 'Barlow Condensed', sans-serif;
  letter-spacing: 4.75px;
}

.subHeading2, .navText, .mainMenuLink {
  font-family: 'Barlow Condensed', sans-serif;
}